* {
    margin: 0;
}

:root {

    --bkg-one: #0B132B;
    --bkg-two: #1C2541;
    --txt-one: #6FFFE9;
    --txt-accent: #5BC0BE;

    --cormorant: 'Cormorant', serif;
    --montserrat: 'Montserrat', sans-serif;

}

body {
    background: var(--bkg-one);
    color: var(--txt-one);
}

.container {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    font-family: var(--montserrat);
}

/* TITLES */

section.titles {
    display: flex;
    flex-direction: column;
}

section.titles>h1 {
    font-size: 2.5rem;
    width: 60%;
    letter-spacing: 2.5px;
    align-self: flex-start;
    margin-bottom: 10px;
}

section.titles>p {
    font-size: 1.2rem;
    align-self: flex-start;
    letter-spacing: 1px;
}

/* LINKS */

/* section#projects {}

section#projects>.responsive {} */

section#projects>.responsive>ul {
    display: flex;
    flex-direction: column;
    margin-left: -30px;
}

section#projects>.responsive>ul>li {
    font-size: 1.5rem;
    list-style-type: none;
    margin-bottom: 20px;
}

section#projects>.responsive>ul>li>a {
    color: var(--txt-one);
    text-decoration: none;
    padding: 5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

section#projects>.responsive>ul>li>a:hover {
    border: 1px solid var(--txt-one);
}

@media (max-width:1000px) {
    .container {
        width: 80%;
    }
}

@media (max-width:710px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        height: 100vh;
        font-family: var(--montserrat);
    }

    section.titles>h1 {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

    section.titles>p {
        align-self: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80vh;
        margin: 0 auto;
        font-family: var(--montserrat);
    }

    section#projects>.responsive>ul {
        justify-content: center;
        text-align: center;
    }

    section#projects>.responsive>ul>li>a {
        font-size: 1.3rem;
    }
}