* {
    margin: 0;
}

:root {
    --background-color: #242423;
    --font-color: #F5CB5C;
    --filter-color: invert(75%) sepia(68%) saturate(390%) hue-rotate(350deg) brightness(103%) contrast(92%);
}

body {
    width: 100vw;

    font-family: 'Alegreya', serif;
    background: var(--background-color);
    color: var(--font-color);

    box-sizing: border-box;
}

.container {
    margin-top: 65px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* *Navbar */




div.header-bkg {
    position: fixed;
    top: 0;
    background: var(--background-color);
    width: 100%;
    height: 120px;
    /* transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px); */
}

header#header {
    position: fixed;
    /* margin: 0 auto; */
    display: flex;
    width: 65%;
    padding-bottom: 20px;

    font-weight: 400;
    letter-spacing: 0.8px;
}

#logo {
    display: flex;
}

img#header-img {
    filter: var(--filter-color);
    width: 47px;
    margin-right: 6px;
    -webkit-filter: var(--filter-color);
}

#logo>p#logo-name {
    width: 91px;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.72px;
}

header#header>nav {
    flex: 1;
    align-self: center;
    width: 50%;
}

header#header>nav>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
}

header#header>nav>ul>li {
    margin-left: 10%;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
}

header#header>nav>ul>li>a {
    text-decoration: none;
    color: var(--font-color);
    padding: 5px 10px;

}

header#header>nav>ul>li>a:hover {
    border: 1px solid var(--font-color);
}

/* WELCOME SECTION */

section#welcome {
    margin-top: 230px;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

section#welcome>img.welcome-img {
    width: 125px;
    margin-right: 37px;
    filter: var(--filter-color);
    -webkit-filter: var(--filter-color);
}

section#welcome>.logo-titles {
    align-self: center;
}

section#welcome>h1.welcome-logo {
    width: 247px;
    font-weight: 400;
    font-size: 38px;
    align-self: center;
    letter-spacing: 1.92px;
    line-height: 50px;
}

section#welcome>h3.tagline {
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.16px;
    line-height: 39px;
    font-size: 23px;
    margin-top: 10px;
}

/* MESSAGE */

section#message {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 95px;
    margin-top: 20%;
}

section#message>img.message-img {
    width: 109px;
    margin-right: 47px;
    filter: var(--filter-color);
    -webkit-filter: var(--filter-color);
    z-index: -1;
}

section#message>h1.message-text {
    font-weight: 400;
    font-size: 35px;
    line-height: 57px;
    letter-spacing: 0.93px;
}

/* VIDEO */

section#video-frame {
    margin-top: 500px;
    margin-bottom: 500px;
}

section#video-frame>#video {
    width: 50vw;
    height: 500px;
    z-index: -1;
}

section#video-frame>.video-title {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 10px;
}

/* Features */

section#features {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 110px;
    margin-bottom: 500px;
}

div.star {
    font-size: 115px;
    margin-right: 13px;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    z-index: -1;
}

section#features>.effective,
section#features>.care,
section#features>.results {
    display: flex;
    flex-direction: column;
    margin-right: 115px;
}

section#features>.effective>h1,
section#features>.care>h1,
section#features>.results>h1 {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1.24px;
}

section#features>.effective>h2,
section#features>.care>h2,
section#features>.results>h2 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 0.78px;
}

section#features>.effective>p,
section#features>.care>p,
section#features>.results>p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.45px;
}

/* Services */

section#services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 500px;
    margin-left: 85px;
}

section#services>.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
    width: 258px;
    margin-right: 116px;
    border: 2px solid var(--font-color);
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;

    cursor: pointer;
}

section#services>.card>img {
    width: 116px;
    filter: var(--filter-color);
    -webkit-filter: var(--filter-color);
    z-index: -1;
}

section#services>.card>h1 {
    font-size: 33px;
    text-align: center;
    font-weight: 400;
}

section#services>.card>p {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.56px;
    line-height: 28px;
    width: 197px;
}

/*CONTACT FORM*/

section#contact {
    display: flex;
    justify-content: center;
    width: 60%;
}

form#form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 30px;
    margin-bottom: 200px;
}

form#form>h1 {
    letter-spacing: 5px;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}

form#form>label {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}

form#form>input {
    font-family: 'Alegreya', sans-serif;
    height: 30px;
    padding: 5px;
    letter-spacing: 0.8px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
}

form#form>textarea {
    padding: 5px;
    font-family: 'Alegreya';
    font-size: 1rem;
    letter-spacing: 0.8px;
    border-radius: 8px;
}

form#form>input[type="submit"] {
    margin-top: 20px;
    width: 120px;
    align-self: center;
    border: none;

    font-weight: 500;

    color: var(--background-color);
    transition: 0.3s ease;
}

form#form>input[type="submit"]:hover {
    background: var(--font-color);
}

/* Media queries */

@media (max-width:1200) {

    header#header {
        position: fixed;
        /* margin: 0 auto; */
        display: flex;
        width: 50%;
        padding-bottom: 20px;

        font-weight: 400;
        letter-spacing: 0.8px;
    }

}

@media (max-width:930px) {

    /* Navbar */

    header#header {
        position: fixed;
        /* margin: 0 auto; */
        display: flex;
        width: 40%;
        padding-bottom: 20px;

        font-weight: 400;
        letter-spacing: 0.8px;
    }

    #logo>p#logo-name {
        width: 91px;
        margin-top: 35px;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.72px;
    }

    header#header>nav {
        margin-left: 70%;

        flex: 1;
        align-self: center;
    }

    header#header>nav>ul {
        width: 20%;
    }

    header#header>nav>ul>li {
        margin-top: 10px;
        font-size: 1.2rem;
        letter-spacing: 1.2px;
    }

    /* Message */

    section#message {
        display: flex;
        align-items: center;
        width: 70%;
        margin-left: 95px;
        margin-top: 40%;
    }

    section#message>h1.message-text {
        font-weight: 400;
        font-size: 38px;
        line-height: 47px;
        letter-spacing: 0.93px;
    }

    /* VIDEO */

    section#video-frame {
        margin-left: 158px;
    }


    section#video-frame>#video {
        width: 80vw;
    }

    /* Features */

    section#features {
        display: none;
        visibility: hidden;
    }

    section#services>.card {
        margin-bottom: 35px;
    }

    /* Contact */

    section#contact {
        display: flex;
        justify-content: center;
        width: 80%;
    }

    form#form {
        width: 100%;
    }

}