* {
    margin: 0;
}

:root {
    --xiketic: #07020D;
    --cyan-process: #5DB7DE;
    --eggshell: #F1E9DB;
    --meggshell: #f0dec0;
    --gruito: #e0cfd8;
    --greyborder: rgb(175, 175, 175);
}

body {
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--eggshell);
}

/* NAVBAR */

nav#navbar {
    position: fixed;
    height: 100vh;
    width: 25vw;
    padding: 20px;
    background-color: var(--gruito);
    color: var(--xiketic);
    overflow: auto;
}

/* HEADER LOGO */
nav#navbar header {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

nav#navbar header>img {
    width: 200px;
}

nav#navbar header>h4 {
    font-weight: 400;
    letter-spacing: 0.045em;
    transform: translateX(72px) translateY(-20px);
    -webkit-transform: translateX(72px) translateY(-20px);
    -moz-transform: translateX(72px) translateY(-20px);
    -ms-transform: translateX(72px) translateY(-20px);
    -o-transform: translateX(72px) translateY(-20px);
}



/* -------------------------- */
nav#navbar ul.category {
    list-style-type: none;
    width: 80%;
    padding-inline-start: 10px;
    margin-bottom: 25px;
}

nav#navbar ul.category>h1 {
    font-size: 1.2rem;
    letter-spacing: 0.045em;
    margin-bottom: 20px;
    padding: 5px 8px;
    background-color: var(--xiketic);

}

nav#navbar ul.category>h1>a {
    text-decoration: none;
    color: var(--cyan-process);
}


nav#navbar ul.category>li {
    padding-left: 20px;
    margin-bottom: 8px;
    letter-spacing: 0.045em;

    font-size: 0.95rem;
}

nav#navbar ul.category>li>a {
    text-decoration: none;
    color: var(--xiketic);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

nav#navbar ul.category>li>ul.sub-list {
    margin-top: 5px;
}

nav#navbar ul.category>li>ul.sub-list a {
    text-decoration: none;
    color: var(--xiketic);
    font-size: 0.8rem;
}

nav#navbar ul.category>li>ul.sub-list a:hover {
    color: var(--cyan-process);
}

nav#navbar ul.category>li>a:hover {
    display: inline-block;
    color: var(--cyan-process);
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
}


nav#navbar ul.category>li>a.sub-link:hover {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}

nav#navbar ul.category>li>a.nav-link::before {
    content: '⮞ ';
    color: var(--cyan-process);
    font-size: 0.8rem;
}



/* CONTENT */

main#main-doc {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: 30%;
    align-items: center;
    padding: 20px;
}

main#main-doc>section.main-section {
    width: 65%;
    margin: 10px 0px 10px 0px;
}

main#main-doc>section.main-section>p.text-context {
    margin-bottom: 15px;
}

main#main-doc>section.main-section>a {
    color: var(--cyan-process);
}

main#main-doc>section.main-section>h1.mid-title,
.mid-title {
    margin-bottom: 30px;
    letter-spacing: 0.08em;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--xiketic);
    color: var(--cyan-process);
    padding: 5px;
    text-align: center;
}

main#main-doc>section.main-section>div.section-content {
    padding-left: 20px;
}

main#main-doc>section.main-section>div.section-content>.sub-title {
    margin-bottom: 15px;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
}

main#main-doc>section.main-section>div.section-content>p.text {
    font-size: 0.95rem;
    margin-bottom: 10px;
    padding-left: 20px;
    line-height: 1.5rem;
}

main#main-doc>section.main-section>div.section-content>ul.list {
    margin-bottom: 10px;
    font-size: 0.95rem;
}

/* CODE STYLE */

code {
    display: block;
    width: 80%;
    border: 1px solid var(--greyborder);
    background: var(--meggshell);
    color: var(--xiketic);
    padding: 10px;
    margin: 20px 0px 20px 0px;
}

code.inline-code {
    display: inline;
    border: 1px solid var(--greyborder);
    background: var(--meggshell);
    color: var(--xiketic);
    padding: 3px;
}

@media (max-width:800px) {
    nav#navbar {
        position: fixed;
        top: 0;
        height: 20vh;
        width: 100vw;
        padding: 20px;
        background-color: var(--gruito);
        color: var(--xiketic);
        /* overflow: auto; */
    }

    main#main-doc {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        width: 100vw;
        margin-left: 0;
        align-items: center;
        padding: 20px;
    }

    nav#navbar header {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    nav#navbar ul.category {
        list-style-type: none;
        width: 80%;
        padding-inline-start: 10px;
        margin-bottom: 25px;
    }

    nav#navbar ul.category>h1 {
        text-align: center;
    }
}