* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --form-background:#ededed;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya Sans', sans-serif;
    justify-content: center;
}

.container {
    background: var(--form-background);
    margin-top: 5px;
    padding: 20px;
    width: 60%;
}

#title {
    letter-spacing: 1.8px;
    font-weight: 800;
    margin-bottom: 10px;
}

#description {
    margin-bottom: 10px;
}

/*Formulary*/

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

input {
    font-family: 'Alegreya sans';
    font-size: 1rem;
}

/*Basic Information Zone*/

.basic {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px 20px 0px
}

.basic > label {
    margin-bottom: 5px;
}

.basic > input {
    font-size: 1rem;
    height: 35px;
    padding: 5px;
    margin-bottom: 10px;
}

/*---------------------*/

select#dropdown {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 35px;
    width: 45%;
    font-family: 'Alegreya sans';
    font-size: 1rem;
    font-weight: 400;
}


label[for="buy-pref"],
label[for="genres"] {
    margin-bottom: 10px;
}

#buy-pref {
    display: flex;
    flex-direction: column;
}

#buy-pref > label {
    font-size: 1rem;
    margin-bottom: 15px;
    margin-left: 20px;
}

label[for="why-play"] {
    margin-bottom: 10px;
}

.why-play,
.what-types {
    margin-left:20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.why-play > label,
.what-types > label {
    margin-bottom: 10px;
    font-size: 1rem;
}

label[for="opinion"]{
    margin-bottom: 10px;
}

button#submit{
    margin-top: 20px;
    width:200px;
    height:30px;
    align-self: center;
}
